@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
}

/* Topbar */
.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #e3e6f3;
  box-shadow: 0 15px  15px rgba(0, 0, 0, 0.16);
  position: sticky;
  inset: 0;
  z-index: 100;
}

.navbar{
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-list{
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-list a{
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: .3s;
  border-bottom: 2px solid transparent;
}

.navbar-list a:hover,
.navbar-list a.active{
  color: #088178;
  border-bottom: 3px solid #088178;
}

.navbar i{
  font-size: 25px;
}

.navbar i:hover{
  color: #088178;
}

.navbar .menu{
  display: none;
  cursor: pointer;
}

.navbar .menu:hover{
  color: #088178;
}

@media (max-width: 650px) {
  .topbar{
    padding: 10px 5%;
  }
  /* .navbar-list{
    display: none;
  } */
  .navbar .menu{
    display: block;
  }
  .navbar-list{
    position: fixed;
    top: 0;
    left: 0; 
    background-color: white;
    width: 70%;
    height: 100vh;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    box-shadow: 0 5px 15px rgb(111, 99, 99);
    transform: translateX(-100%);
    transition: .5s;
  }
  .navbar-list.active{
    transform: translateX(0);
  }
}

/* Header */
.header{
  display: flex;
  align-items: center;
  height: 90vh;
  background-image: url("img/hero4.png");
  background-size: cover;
  background-position: center;
} 

.header-text{
  padding-left: 10%;
}

.header-text h4{
  padding-bottom: 15px;
}

.header-text h1{
  color: #088178;
  font-size: 50px;
  margin-top: 10px;
}

.header-text h2{
  font-size: 50px;
}

.header-text a{
  background-image: url("img/button.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 14px 80px 14px 65px;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  color: #088178;
}

@media (max-width: 650px) {
  .header-text{
    padding-left: 5%;
  }
  .header-text h1{
    color: #088178;
    font-size: 40px;
    margin-top: 10px;
  }
  
  .header-text h2{
    font-size: 50px;
  }
}

/* Feature */
.feature{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 10%;
  gap: 10px;
  flex-wrap: wrap;
}

.feature-item{
  text-align: center;
  padding: 15px;
  box-shadow: 0 0 10px #088178;
  border-radius: 10px;
  transition: .3s;
  margin: 10px;
}

.feature-item:hover{
  background-color: #088178;
  box-shadow: 0 0 10px #00433e;
  color: white;
}

.feature-item img{
  width: 100%;
  margin: auto;
  display: block;
  margin-bottom: 5px;
}

.feature-item h3{
  margin-top: 5px;
  font-size: 14px;
  background-color: lime;
  padding: 5px 10px;
  display: inline-block;
  font-weight: 500;
  border-radius: 5px;
}

@media (max-width:480px) {
  .feature{
    gap: 30px;
    margin: 30px 5%;
  }

  .feature-item{
    width: 100%;
  }
} 

/* Product */
.product-wrapper{
  margin: 50px 0;
}

.product{
  margin: 20px 10%;
}

.product-title{
  text-align: center;
  margin-bottom: 30px;
}

.product-title h2{
  font-size: 48px;
}

.product-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-item{
  padding: 10px;
  box-shadow: 0 0 10px #9afff8;
  border-radius: 10px;
  position: relative;
}

.product-item img{
  width: 100%;
  border-radius: 10px;
}

.product-item span{
  font-size: 14px;
  color: gray;
  margin: 15px 0 5px;
  display: block;
}

.product-item h3{
  font-size: 18px;
  margin-bottom: 5px;
}

.product-item .rating{
  color: gold;
  margin-bottom: 5px;
}

.product-item h4{
  color: #088178;
}

.product-item a{
  color: #00433e;
  font-size: 24px;
  background-color: #9afff8;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #008980;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

@media (max-width: 900px) {
  .product{
    margin: 30px 5%;
  }
  .product-content{
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 5%;
  }
}

@media (max-width: 480px) {
  .product-wrapper{
    margin: 30px 0;
  }

  .product-title h2{
    font-size: 32px;
  }
  .product-content{
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Services */
.services{
  background-image: url("img/banner/b2.jpg");
  padding: 50px 0;
  text-align: center;
  color: white;
}

.services h3{
  font-size: 24px;
  margin: 15px 0;
}

.services h3 span{
  color: rgb(184, 1, 1);
}

.services a{
  background-color: white;
  color: black;
  padding: 13px 20px;
  display: inline-block;
  border-radius: 5px;
}

@media (max-width: 480px){
  .services h3{
    font-size: 18px;
  }

  .services a{
    padding: 10px 15px;
  }
}

/* Smm banner */
.sm-banner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 50px 10% 20px;
}

.sm-banner .sm-banner-item{
  padding: 100px 30px;
  background-image: url(img/banner/b17.jpg);
  color: white;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.sm-banner .sm-banner-item:nth-child(2){
  background-image: url(img/banner/b10.jpg);
}

.sm-banner-item h2{
  font-size: 36px;
  margin: 10px 0;
  text-transform: uppercase;
}

.sm-banner-item a{
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid white;
  display: inline-block;
  margin-top: 5px;
}

.sm-banner-item a:hover{
  background-color: white;
  color: black;
}

@media (max-width:700px){
  .sm-banner{
    grid-template-columns: repeat(1, 1fr);
    margin: 30px 5%;
  }
}

/* Banner */
.banner{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  margin: 0px 10% 50px;
}

.banner-item{
  padding: 100px 20px;
  background-image: url(img/banner/b7.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 10px;
}

.banner-item:nth-child(2){
  background-image: url(img/banner/b4.jpg);
}

.banner-item:nth-child(3){
  background-image: url(img/banner/b18.jpg);
}

.banner-item h2{
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width:965px){
  .banner{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:700px){
  .banner{
  grid-template-columns: repeat(1, 1fr);
  margin: 0px 5% 50px;
  }
}

/* Sign */
.sign{
  background-image: url(img/banner/b14.png);
  background-size: cover;
  background-position: center;
  padding: 50px 10%;
  background-color: #021E43;
  color: white;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign h2{
  font-size: 32px;
  margin-bottom: 20px;
}

.sign p span{
  color: orange;
}

.sign-text{
  width: 50%;
}

.sign-form{
  display: flex;
  align-items: center;
  width: 50%;
}

.sign-form input{
  padding: 20px 25px;
  border-radius: 10px 0 0 10px;
  border: 0;
  width: 100%;
}

.sign-form input::placeholder{
  font-size: 16px;
}

.sign-form input:focus{
  outline: none;
}

.sign-form a{
  padding: 20px 25px;
  background-color: #088178;
  color: white;
  border-radius: 0 10px 10px 0;
  font-weight: 700;
  flex-shrink: 0;
}

@media (max-width:850px){
  .sign{
    padding: 50px 5%;
    align-items: start;
    flex-direction: column;
  }

  .sign-text{
    width: 100%;
    margin-bottom: 20px;
  }

  .sign-form{
    width: 100%;
  }
}

/* Footer */
.footer{
  margin: 50px 10%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-logo img{
  margin-bottom: 20px;
}

.footer-logo p{
  margin-bottom: 10px;
}

.footer-logo span{
  font-weight: 600;
}

.footer-logo .follow{
  margin-top: 30px;
}

.social{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.footer h3{
  margin-bottom: 20px;
  font-size: 20px;
  color: black;
}

.footer-about a{
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: gray;
}

.footer-account a{
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  color: gray;
}

.install{
  color: gray;
  font-weight: 500;
}

.install p{
  margin: 20px 0;
}

.install .app-logo img{
  border: 2px solid lime;
  border-radius: 10px;
}

.footer-bottom{
  margin: 50px 5%;
  text-align: center;
  font-weight: 600;
}

.footer-bottom span{
  color: #08811e;
}

@media (max-width: 900px){
  .footer{
    flex-direction: column;
    align-items: start;
    margin: 30px 5%;
  }
}

/* Shop Header */
.shop-header{
  padding: 100px 5%;
  background-image: url(img/banner/b1.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.shop-header h1{
  font-size: 48px;
  margin-bottom: 15px;
}